In [30]:
import pandas as pd
import os
from utils import LoadData

In [15]:
pd.set_option('display.max_columns', None)

In [14]:
compas = pd.read_csv(os.path.join('compas','compas-scores-two-years.csv'), index_col = 'id', na_values = [])

In [41]:
header = ['sex', 'age', 'age_cat', 'race', 'juv_fel_count', 'juv_misd_count', 'juv_other_count',
                     'priors_count', 'c_charge_degree', 'c_charge_desc',
                     'two_year_recid'],

,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,c_jail_in,c_jail_out,c_case_number,c_offense_date,c_arrest_date,c_days_from_compas,c_charge_degree,c_charge_desc,is_recid,r_case_number,r_charge_degree,r_days_from_arrest,r_offense_date,r_charge_desc,r_jail_in,r_jail_out,violent_recid,is_violent_recid,vr_case_number,vr_charge_degree,vr_offense_date,vr_charge_desc,type_of_assessment,decile_score.1,score_text,screening_date,v_type_of_assessment,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,two_year_recid
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,0,1,0,0,0,-1.0,2013-08-13 06:03:42,2013-08-14 05:41:20,13011352CF10A,2013-08-13,NaN,1.0,F,Aggravated Assault w/Firearm,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,Risk of Recidivism,1,Low,2013-08-14,Risk of Violence,1,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0,0
3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,0,3,0,0,0,-1.0,2013-01-26 03:45:27,2013-02-05 05:36:53,13001275CF10A,2013-01-26,NaN,1.0,F,Felony Battery w/Prior Convict,1,13009779CF10A,(F3),NaN,2013-07-05,Felony Battery (Dom Strang),NaN,NaN,NaN,1,13009779CF10A,(F3),2013-07-05,Felony Battery (Dom Strang),Risk of Recidivism,3,Low,2013-01-27,Risk of Violence,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,1
4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,0,4,0,1,4,-1.0,2013-04-13 04:58:34,2013-04-14 07:02:04,13005330CF10A,2013-04-13,NaN,1.0,F,Possession of Cocaine,1,13011511MM10A,(M1),0.0,2013-06-16,Driving Under The Influence,2013-06-16,2013-06-16,NaN,0,NaN,NaN,NaN,NaN,Risk of Recidivism,4,Low,2013-04-14,Risk of Violence,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,1
5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,0,8,1,0,1,NaN,NaN,NaN,13000570CF10A,2013-01-12,NaN,1.0,F,Possession of Cannabis,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,Risk of Recidivism,8,High,2013-01-13,Risk of Violence,6,Medium,2013-01-13,NaN,NaN,1,0,1174,0,0
6,bouthy pierrelouis,bouthy,pierrelouis,2013-03-26,Male,1973-01-22,43,25 - 45,Other,0,1,0,0,2,NaN,NaN,NaN,12014130CF10A,NaN,2013-01-09,76.0,F,arrest case no charge,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,Risk of Recidivism,1,Low,2013-03-26,Risk of Violence,1,Low,2013-03-26,NaN,NaN,2,0,1102,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10996,steven butler,steven,butler,2013-11-23,Male,1992-07-17,23,Less than 25,African-American,0,7,0,0,0,-1.0,2013-11-22 05:18:27,2013-11-24 02:59:20,13016249CF10A,2013-11-22,NaN,1.0,F,Deliver Cannabis,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,Risk of Recidivism,7,Medium,2013-11-23,Risk of Violence,5,Medium,2013-11-23,2013-11-22,2013-11-24,0,1,860,0,0
10997,malcolm simmons,malcolm,simmons,2014-02-01,Male,1993-03-25,23,Less than 25,African-American,0,3,0,0,0,-1.0,2014-01-31 07:13:54,2014-02-02 04:03:52,14001422CF10A,2014-01-31,NaN,1.0,F,Leaving the Scene of Accident,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,Risk of Recidivism,3,Low,2014-02-01,Risk of Violence,5,Medium,2014-02-01,2014-01-31,2014-02-02,0,1,790,0,0
10999,winston gregory,winston,gregory,2014-01-14,Male,1958-10-01,57,Greater than 45,Other,0,1,0,0,0,-1.0,2014-01-13 05:48:01,2014-01-14 07:49:46,14000581CF10A,2014-01-13,NaN,1.0,F,Aggravated Battery / Pregnant,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,Risk of Recidivism,1,Low,2014-01-14,Risk of Violence,1,Low,2014-01-14,2014-01-13,2014-01-14,0,0,808,0,0
11000,farrah jean,farrah,jean,2014-03-09,Female,1982-11-17,33,25 - 45,African-American,0,2,0,0,3,-1.0,2014-03-08 08:06:02,2014-03-09 12:18:04,14003308CF10A,2014-03-08,NaN,1.0,M,Battery on Law Enforc Officer,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,Risk of Recidivism,2,Low,2014-03-09,Risk of Violence,2,Low,2014-03-09,2014-03-08,2014-03-09,3,0,754,0,0
11001,florencia sanmartin,florencia,sanmartin,2014-06-30,Female,1992-12-18,23,Less than 25,Hispanic,0,4,0,0,2,-2.0,2014-06-28 12:16:41,2014-06-30 11:19:23,14008895CF10A,2014-06-28,NaN,2.0,F,Possession of Ethylone,1,15008160TC10A,(M2),0.0,2015-03-15,Operating W/O Valid License,2015-03-15,2015-03-15,NaN,0,NaN,NaN,NaN,NaN,Risk of Recidivism,4,Low,2014-06-30,Risk of Violence,4,Low,2014-06-30,2015-03-15,2015-03-15,2,0,258,0,1

In [15]:
compas

,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,juv_fel_count,...,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,two_year_recid
id,,,,,,,,,,,,,,,,,,,,,
1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,0,...,1,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0,0
3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,0,...,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,1
4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,0,...,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,1
5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,0,...,6,Medium,2013-01-13,NaN,NaN,1,0,1174,0,0
6,bouthy pierrelouis,bouthy,pierrelouis,2013-03-26,Male,1973-01-22,43,25 - 45,Other,0,...,1,Low,2013-03-26,NaN,NaN,2,0,1102,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10996,steven butler,steven,butler,2013-11-23,Male,1992-07-17,23,Less than 25,African-American,0,...,5,Medium,2013-11-23,2013-11-22,2013-11-24,0,1,860,0,0
10997,malcolm simmons,malcolm,simmons,2014-02-01,Male,1993-03-25,23,Less than 25,African-American,0,...,5,Medium,2014-02-01,2014-01-31,2014-02-02,0,1,790,0,0
10999,winston gregory,winston,gregory,2014-01-14,Male,1958-10-01,57,Greater than 45,Other,0,...,1,Low,2014-01-14,2014-01-13,2014-01-14,0,0,808,0,0
11000,farrah jean,farrah,jean,2014-03-09,Female,1982-11-17,33,25 - 45,African-American,0,...,2,Low,2014-03-09,2014-03-08,2014-03-09,3,0,754,0,0
11001,florencia sanmartin,florencia,sanmartin,2014-06-30,Female,1992-12-18,23,Less than 25,Hispanic,0,...,4,Low,2014-06-30,2015-03-15,2015-03-15,2,0,258,0,1

In [122]:
compas['two_year_recid'] == 0

id
1         True
3        False
4        False
5         True
6         True
         ...
10996     True
10997     True
10999     True
11000     True
11001    False
Name: two_year_recid, Length: 7214, dtype: bool

In [11]:
pd.read_csv(os.path.join('adult','adult.test'), na_values = [])

Index(['25', ' Private', ' 226802', ' 11th', ' 7', ' Never-married',
       ' Machine-op-inspct', ' Own-child', ' Black', ' Male', ' 0', ' 0.1',
       ' 40', ' United-States', ' <=50K.'],
      dtype='object')

In [7]:
import os
import pandas as pd
import numpy as np

from utils import *
import torch

def process_csv(dir_name, filename, label_name, favorable_class, sensitive_attributes, privileged_classes, categorial_attributes, continuous_attributes, features_to_keep, na_values, header = 'infer', columns = None):
    """
    process the adult file: scale, one-hot encode
    only support binary sensitive attributes -> [gender, race] -> 4 sensitive groups 
    """

    df = pd.read_csv(os.path.join( dir_name, filename), delimiter = ',', header = header, na_values = na_values)
    if header == None: df.columns = columns
    df = df[features_to_keep]

    # apply one-hot encoding to convert the categorical attributes into vectors
    df = pd.get_dummies(df, columns = categorial_attributes)

    # normalize numerical attributes to the range within [0, 1]
    def scale(vec):
        minimum = min(vec)
        maximum = max(vec)
        return (vec-minimum)/(maximum-minimum)
    
    df[continuous_attributes] = df[continuous_attributes].apply(scale, axis = 0)
    df.loc[df[label_name] != favorable_class, label_name] = 'SwapSwapSwap'
    df.loc[df[label_name] == favorable_class, label_name] = 1
    df.loc[df[label_name] == 'SwapSwapSwap', label_name] = 0
    
    df[label_name] = df[label_name].astype('category').cat.codes
    for i in range(len(sensitive_attributes)):
        df.loc[df[sensitive_attributes[i]] != privileged_classes[i], sensitive_attributes[i]] = 0
        df.loc[df[sensitive_attributes[i]] == privileged_classes[i], sensitive_attributes[i]] = 1
    df['z'] = list(zip(*[df[c] for c in sensitive_attributes]))
    df['z'] = df['z'].astype('category').cat.codes
    df = df.drop(columns = sensitive_attributes)
    return df

In [12]:
process_csv('adult', 'adult.test', 'salary', ' >50K', ['sex'], [' Female'], ['workclass', 'education', 'marital-status', 'occupation',
            'relationship', 'native-country', 'race'], ["age", "fnlwgt", "education-num", "capital-gain", 
            "capital-loss", "hours-per-week"], ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
            'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss','hours-per-week', 
            'native-country', 'salary'], [], header = None, columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
            'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss','hours-per-week', 
            'native-country', 'salary'])

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,...,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,z
0,0.109589,0.144430,0.400000,0.000000,0.0,0.397959,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,0.287671,0.051677,0.533333,0.000000,0.0,0.500000,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,0.150685,0.219011,0.733333,0.000000,0.0,0.397959,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
3,0.369863,0.099418,0.600000,0.076881,0.0,0.397959,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,0.013699,0.060942,0.600000,0.000000,0.0,0.295918,0,1,0,0,...,0,1,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,0.301370,0.136723,0.800000,0.000000,0.0,0.357143,0,0,0,0,...,0,1,0,0,0,0,0,0,1,1
16277,0.643836,0.208484,0.533333,0.000000,0.0,0.397959,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
16278,0.287671,0.244762,0.800000,0.000000,0.0,0.500000,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
16279,0.369863,0.047666,0.800000,0.054551,0.0,0.397959,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
16280,0.246575,0.114195,0.800000,0.000000,0.0,0.602041,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [16]:
process_csv('compas', 'compas-scores-two-years.csv', 'two_year_recid', 0, ['sex', 'race'], ['Female', 'African-American'], ['age_cat', 'c_charge_degree',
            'c_charge_desc'], ['age', 'juv_fel_count', 'juv_misd_count', 'juv_other_count', 'priors_count'], 
            ['sex', 'age', 'age_cat', 'race', 'juv_fel_count', 'juv_misd_count', 'juv_other_count',
            'priors_count', 'c_charge_degree', 'c_charge_desc','two_year_recid'], [])

,age,juv_fel_count,juv_misd_count,juv_other_count,priors_count,two_year_recid,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,c_charge_degree_F,...,c_charge_desc_Viol Injunct Domestic Violence,c_charge_desc_Viol Injunction Protect Dom Vi,c_charge_desc_Viol Pretrial Release Dom Viol,c_charge_desc_Viol Prot Injunc Repeat Viol,c_charge_desc_Violation License Restrictions,c_charge_desc_Violation Of Boater Safety Id,c_charge_desc_Violation of Injunction Order/Stalking/Cyberstalking,c_charge_desc_Voyeurism,c_charge_desc_arrest case no charge,z
0,0.653846,0.0,0.000000,0.000000,0.000000,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0.205128,0.0,0.000000,0.000000,0.000000,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,0.076923,0.0,0.000000,0.058824,0.105263,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
3,0.064103,0.0,0.076923,0.000000,0.026316,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
4,0.320513,0.0,0.000000,0.000000,0.052632,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7209,0.064103,0.0,0.000000,0.000000,0.000000,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
7210,0.064103,0.0,0.000000,0.000000,0.000000,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
7211,0.500000,0.0,0.000000,0.000000,0.000000,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
7212,0.192308,0.0,0.000000,0.000000,0.078947,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,3
7213,0.064103,0.0,0.000000,0.000000,0.052632,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,2

In [94]:
sensitive_attributes = ['sex']
categorial_attributes = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'native-country']
continuous_attributes = ["age", "fnlwgt", "education-num", "capital-gain", "capital-loss", "hours-per-week"]
features_to_keep = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
            'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss','hours-per-week', 
            'native-country', 'salary']
label_name = 'salary'

adult = process_csv('adult', 'adult.data', label_name, sensitive_attributes, categorial_attributes, continuous_attributes, features_to_keep, na_values = [])
test = process_csv('adult', 'adult.test', label_name, sensitive_attributes, categorial_attributes, continuous_attributes, features_to_keep, na_values = []) # the distribution is very different from training distribution
test['native-country_ Holand-Netherlands'] = 0
test = test[adult.columns]

np.random.seed(1)
adult_private_idx = adult[adult['workclass_ Private'] == 1].index
adult_others_idx = adult[adult['workclass_ Private'] == 0].index
adult_mean_sensitive = adult['z'].mean()

client1_idx = np.concatenate((np.random.choice(adult_private_idx, int(.8*len(adult_private_idx)), replace = False),
                                np.random.choice(adult_others_idx, int(.2*len(adult_others_idx)), replace = False)))
client2_idx = np.array(list(set(adult.index) - set(client1_idx)))
adult_clients_idx = [client1_idx, client2_idx]

################## torch preparation ##################
adult_num_features = len(adult.columns)-1

adult_test = LoadData(test, 'salary', 'z')

adult_train = LoadData(adult, 'salary', 'z')

torch.manual_seed(0)

adult_info = [adult_train, adult_test, adult_clients_idx]

In [95]:
adult_info[1].sen

array([1, 1, 1, ..., 1, 1, 1], dtype=int8)

In [71]:
sensitive_attributes = ['sex']
categorial_attributes = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'native-country']
continuous_attributes = ["age", "fnlwgt", "education-num", "capital-gain", "capital-loss", "hours-per-week"]
features_to_keep = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
            'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss','hours-per-week', 
            'native-country', 'salary']
label_name = 'salary'

adult = process_csv('adult', 'adult.data', label_name, sensitive_attributes, categorial_attributes, continuous_attributes, features_to_keep, na_values = [])